<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>北京</key>
<string>101010100</string>
<key>朝阳</key>
<string>101010300</string>
<key>顺义</key>
<string>101010400</string>
<key>怀柔</key>
<string>101010500</string>
<key>通州</key>
<string>101010600</string>
<key>昌平</key>
<string>101010700</string>
<key>延庆</key>
<string>101010800</string>
<key>丰台</key>
<string>101010900</string>
<key>石景山</key>
<string>101011000</string>
<key>大兴</key>
<string>101011100</string>
<key>房山</key>
<string>101011200</string>
<key>密云</key>
<string>101011300</string>
<key>门头沟</key>
<string>101011400</string>
<key>平谷</key>
<string>101011500</string>
<key>八达岭</key>
<string>101011600</string>
<key>佛爷顶</key>
<string>101011700</string>
<key>汤河口</key>
<string>101011800</string>
<key>密云上甸子</key>
<string>101011900</string>
<key>斋堂</key>
<string>101012000</string>
<key>霞云岭</key>
<string>101012100</string>
<key>北京城区</key>
<string>101012200</string>
<key>海淀</key>
<string>101010200</string>
<key>天津</key>
<string>101030100</string>
<key>宝坻</key>
<string>101030300</string>
<key>东丽</key>
<string>101030400</string>
<key>西青</key>
<string>101030500</string>
<key>北辰</key>
<string>101030600</string>
<key>蓟县</key>
<string>101031400</string>
<key>汉沽</key>
<string>101030800</string>
<key>静海</key>
<string>101030900</string>
<key>津南</key>
<string>101031000</string>
<key>塘沽</key>
<string>101031100</string>
<key>大港</key>
<string>101031200</string>
<key>武清</key>
<string>101030200</string>
<key>宁河</key>
<string>101030700</string>
<key>上海</key>
<string>101020100</string>
<key>宝山</key>
<string>101020300</string>
<key>嘉定</key>
<string>101020500</string>
<key>南汇</key>
<string>101020600</string>
<key>浦东</key>
<string>101021300</string>
<key>青浦</key>
<string>101020800</string>
<key>松江</key>
<string>101020900</string>
<key>奉贤</key>
<string>101021000</string>
<key>崇明</key>
<string>101021100</string>
<key>徐家汇</key>
<string>101021200</string>
<key>闵行</key>
<string>101020200</string>
<key>金山</key>
<string>101020700</string>
<key>石家庄</key>
<string>101090101</string>
<key>张家口</key>
<string>101090301</string>
<key>承德</key>
<string>101090402</string>
<key>唐山</key>
<string>101090501</string>
<key>秦皇岛</key>
<string>101091101</string>
<key>沧州</key>
<string>101090701</string>
<key>衡水</key>
<string>101090801</string>
<key>邢台</key>
<string>101090901</string>
<key>邯郸</key>
<string>101091001</string>
<key>保定</key>
<string>101090201</string>
<key>廊坊</key>
<string>101090601</string>
<key>郑州</key>
<string>101180101</string>
<key>新乡</key>
<string>101180301</string>
<key>许昌</key>
<string>101180401</string>
<key>平顶山</key>
<string>101180501</string>
<key>信阳</key>
<string>101180601</string>
<key>南阳</key>
<string>101180701</string>
<key>开封</key>
<string>101180801</string>
<key>洛阳</key>
<string>101180901</string>
<key>商丘</key>
<string>101181001</string>
<key>焦作</key>
<string>101181101</string>
<key>鹤壁</key>
<string>101181201</string>
<key>濮阳</key>
<string>101181301</string>
<key>周口</key>
<string>101181401</string>
<key>漯河</key>
<string>101181501</string>
<key>驻马店</key>
<string>101181601</string>
<key>三门峡</key>
<string>101181701</string>
<key>济源</key>
<string>101181801</string>
<key>安阳</key>
<string>101180201</string>
<key>合肥</key>
<string>101220101</string>
<key>芜湖</key>
<string>101220301</string>
<key>淮南</key>
<string>101220401</string>
<key>马鞍山</key>
<string>101220501</string>
<key>安庆</key>
<string>101220601</string>
<key>宿州</key>
<string>101220701</string>
<key>阜阳</key>
<string>101220801</string>
<key>亳州</key>
<string>101220901</string>
<key>黄山</key>
<string>101221001</string>
<key>滁州</key>
<string>101221101</string>
<key>淮北</key>
<string>101221201</string>
<key>铜陵</key>
<string>101221301</string>
<key>宣城</key>
<string>101221401</string>
<key>六安</key>
<string>101221501</string>
<key>巢湖</key>
<string>101221601</string>
<key>池州</key>
<string>101221701</string>
<key>蚌埠</key>
<string>101220201</string>
<key>杭州</key>
<string>101210101</string>
<key>舟山</key>
<string>101211101</string>
<key>湖州</key>
<string>101210201</string>
<key>嘉兴</key>
<string>101210301</string>
<key>金华</key>
<string>101210901</string>
<key>绍兴</key>
<string>101210501</string>
<key>台州</key>
<string>101210601</string>
<key>温州</key>
<string>101210701</string>
<key>丽水</key>
<string>101210801</string>
<key>衢州</key>
<string>101211001</string>
<key>宁波</key>
<string>101210401</string>
<key>重庆</key>
<string>101040100</string>
<key>合川</key>
<string>101040300</string>
<key>南川</key>
<string>101040400</string>
<key>江津</key>
<string>101040500</string>
<key>万盛</key>
<string>101040600</string>
<key>渝北</key>
<string>101040700</string>
<key>北碚</key>
<string>101040800</string>
<key>巴南</key>
<string>101040900</string>
<key>长寿</key>
<string>101041000</string>
<key>黔江</key>
<string>101041100</string>
<key>万州天城</key>
<string>101041200</string>
<key>万州龙宝</key>
<string>101041300</string>
<key>涪陵</key>
<string>101041400</string>
<key>开县</key>
<string>101041500</string>
<key>城口</key>
<string>101041600</string>
<key>云阳</key>
<string>101041700</string>
<key>巫溪</key>
<string>101041800</string>
<key>奉节</key>
<string>101041900</string>
<key>巫山</key>
<string>101042000</string>
<key>潼南</key>
<string>101042100</string>
<key>垫江</key>
<string>101042200</string>
<key>梁平</key>
<string>101042300</string>
<key>忠县</key>
<string>101042400</string>
<key>石柱</key>
<string>101042500</string>
<key>大足</key>
<string>101042600</string>
<key>荣昌</key>
<string>101042700</string>
<key>铜梁</key>
<string>101042800</string>
<key>璧山</key>
<string>101042900</string>
<key>丰都</key>
<string>101043000</string>
<key>武隆</key>
<string>101043100</string>
<key>彭水</key>
<string>101043200</string>
<key>綦江</key>
<string>101043300</string>
<key>酉阳</key>
<string>101043400</string>
<key>秀山</key>
<string>101043600</string>
<key>沙坪坝</key>
<string>101043700</string>
<key>永川</key>
<string>101040200</string>
<key>福州</key>
<string>101230101</string>
<key>泉州</key>
<string>101230501</string>
<key>漳州</key>
<string>101230601</string>
<key>龙岩</key>
<string>101230701</string>
<key>晋江</key>
<string>101230509</string>
<key>南平</key>
<string>101230901</string>
<key>厦门</key>
<string>101230201</string>
<key>宁德</key>
<string>101230301</string>
<key>莆田</key>
<string>101230401</string>
<key>三明</key>
<string>101230801</string>
<key>兰州</key>
<string>101160101</string>
<key>平凉</key>
<string>101160301</string>
<key>庆阳</key>
<string>101160401</string>
<key>武威</key>
<string>101160501</string>
<key>金昌</key>
<string>101160601</string>
<key>嘉峪关</key>
<string>101161401</string>
<key>酒泉</key>
<string>101160801</string>
<key>天水</key>
<string>101160901</string>
<key>武都</key>
<string>101161001</string>
<key>临夏</key>
<string>101161101</string>
<key>合作</key>
<string>101161201</string>
<key>白银</key>
<string>101161301</string>
<key>定西</key>
<string>101160201</string>
<key>张掖</key>
<string>101160701</string>
<key>广州</key>
<string>101280101</string>
<key>惠州</key>
<string>101280301</string>
<key>梅州</key>
<string>101280401</string>
<key>汕头</key>
<string>101280501</string>
<key>深圳</key>
<string>101280601</string>
<key>珠海</key>
<string>101280701</string>
<key>佛山</key>
<string>101280800</string>
<key>肇庆</key>
<string>101280901</string>
<key>湛江</key>
<string>101281001</string>
<key>江门</key>
<string>101281101</string>
<key>河源</key>
<string>101281201</string>
<key>清远</key>
<string>101281301</string>
<key>云浮</key>
<string>101281401</string>
<key>潮州</key>
<string>101281501</string>
<key>东莞</key>
<string>101281601</string>
<key>中山</key>
<string>101281701</string>
<key>阳江</key>
<string>101281801</string>
<key>揭阳</key>
<string>101281901</string>
<key>茂名</key>
<string>101282001</string>
<key>汕尾</key>
<string>101282101</string>
<key>韶关</key>
<string>101280201</string>
<key>南宁</key>
<string>101300101</string>
<key>柳州</key>
<string>101300301</string>
<key>来宾</key>
<string>101300401</string>
<key>桂林</key>
<string>101300501</string>
<key>梧州</key>
<string>101300601</string>
<key>防城港</key>
<string>101301401</string>
<key>贵港</key>
<string>101300801</string>
<key>玉林</key>
<string>101300901</string>
<key>百色</key>
<string>101301001</string>
<key>钦州</key>
<string>101301101</string>
<key>河池</key>
<string>101301201</string>
<key>北海</key>
<string>101301301</string>
<key>崇左</key>
<string>101300201</string>
<key>贺州</key>
<string>101300701</string>
<key>贵阳</key>
<string>101260101</string>
<key>安顺</key>
<string>101260301</string>
<key>都匀</key>
<string>101260401</string>
<key>兴义</key>
<string>101260906</string>
<key>铜仁</key>
<string>101260601</string>
<key>毕节</key>
<string>101260701</string>
<key>六盘水</key>
<string>101260801</string>
<key>遵义</key>
<string>101260201</string>
<key>凯里</key>
<string>101260501</string>
<key>昆明</key>
<string>101290101</string>
<key>红河</key>
<string>101290301</string>
<key>文山</key>
<string>101290601</string>
<key>玉溪</key>
<string>101290701</string>
<key>楚雄</key>
<string>101290801</string>
<key>普洱</key>
<string>101290901</string>
<key>昭通</key>
<string>101291001</string>
<key>临沧</key>
<string>101291101</string>
<key>怒江</key>
<string>101291201</string>
<key>香格里拉</key>
<string>101291301</string>
<key>丽江</key>
<string>101291401</string>
<key>德宏</key>
<string>101291501</string>
<key>景洪</key>
<string>101291601</string>
<key>大理</key>
<string>101290201</string>
<key>曲靖</key>
<string>101290401</string>
<key>保山</key>
<string>101290501</string>
<key>呼和浩特</key>
<string>101080101</string>
<key>乌海</key>
<string>101080301</string>
<key>集宁</key>
<string>101080401</string>
<key>通辽</key>
<string>101080501</string>
<key>阿拉善左旗</key>
<string>101081201</string>
<key>鄂尔多斯</key>
<string>101080701</string>
<key>临河</key>
<string>101080801</string>
<key>锡林浩特</key>
<string>101080901</string>
<key>呼伦贝尔</key>
<string>101081000</string>
<key>乌兰浩特</key>
<string>101081101</string>
<key>包头</key>
<string>101080201</string>
<key>赤峰</key>
<string>101080601</string>
<key>南昌</key>
<string>101240101</string>
<key>上饶</key>
<string>101240301</string>
<key>抚州</key>
<string>101240401</string>
<key>宜春</key>
<string>101240501</string>
<key>鹰潭</key>
<string>101241101</string>
<key>赣州</key>
<string>101240701</string>
<key>景德镇</key>
<string>101240801</string>
<key>萍乡</key>
<string>101240901</string>
<key>新余</key>
<string>101241001</string>
<key>九江</key>
<string>101240201</string>
<key>吉安</key>
<string>101240601</string>
<key>武汉</key>
<string>101200101</string>
<key>黄冈</key>
<string>101200501</string>
<key>荆州</key>
<string>101200801</string>
<key>宜昌</key>
<string>101200901</string>
<key>恩施</key>
<string>101201001</string>
<key>十堰</key>
<string>101201101</string>
<key>神农架</key>
<string>101201201</string>
<key>随州</key>
<string>101201301</string>
<key>荆门</key>
<string>101201401</string>
<key>天门</key>
<string>101201501</string>
<key>仙桃</key>
<string>101201601</string>
<key>潜江</key>
<string>101201701</string>
<key>襄樊</key>
<string>101200201</string>
<key>鄂州</key>
<string>101200301</string>
<key>孝感</key>
<string>101200401</string>
<key>黄石</key>
<string>101200601</string>
<key>咸宁</key>
<string>101200701</string>
<key>成都</key>
<string>101270101</string>
<key>自贡</key>
<string>101270301</string>
<key>绵阳</key>
<string>101270401</string>
<key>南充</key>
<string>101270501</string>
<key>达州</key>
<string>101270601</string>
<key>遂宁</key>
<string>101270701</string>
<key>广安</key>
<string>101270801</string>
<key>巴中</key>
<string>101270901</string>
<key>泸州</key>
<string>101271001</string>
<key>宜宾</key>
<string>101271101</string>
<key>内江</key>
<string>101271201</string>
<key>资阳</key>
<string>101271301</string>
<key>乐山</key>
<string>101271401</string>
<key>眉山</key>
<string>101271501</string>
<key>凉山</key>
<string>101271601</string>
<key>雅安</key>
<string>101271701</string>
<key>甘孜</key>
<string>101271801</string>
<key>阿坝</key>
<string>101271901</string>
<key>德阳</key>
<string>101272001</string>
<key>广元</key>
<string>101272101</string>
<key>攀枝花</key>
<string>101270201</string>
<key>银川</key>
<string>101170101</string>
<key>中卫</key>
<string>101170501</string>
<key>固原</key>
<string>101170401</string>
<key>石嘴山</key>
<string>101170201</string>
<key>吴忠</key>
<string>101170301</string>
<key>西宁</key>
<string>101150101</string>
<key>黄南</key>
<string>101150301</string>
<key>海北</key>
<string>101150801</string>
<key>果洛</key>
<string>101150501</string>
<key>玉树</key>
<string>101150601</string>
<key>海西</key>
<string>101150701</string>
<key>海东</key>
<string>101150201</string>
<key>海南</key>
<string>101150401</string>
<key>济南</key>
<string>101120101</string>
<key>潍坊</key>
<string>101120601</string>
<key>临沂</key>
<string>101120901</string>
<key>菏泽</key>
<string>101121001</string>
<key>滨州</key>
<string>101121101</string>
<key>东营</key>
<string>101121201</string>
<key>威海</key>
<string>101121301</string>
<key>枣庄</key>
<string>101121401</string>
<key>日照</key>
<string>101121501</string>
<key>莱芜</key>
<string>101121601</string>
<key>聊城</key>
<string>101121701</string>
<key>青岛</key>
<string>101120201</string>
<key>淄博</key>
<string>101120301</string>
<key>德州</key>
<string>101120401</string>
<key>烟台</key>
<string>101120501</string>
<key>济宁</key>
<string>101120701</string>
<key>泰安</key>
<string>101120801</string>
<key>西安</key>
<string>101110101</string>
<key>延安</key>
<string>101110300</string>
<key>榆林</key>
<string>101110401</string>
<key>铜川</key>
<string>101111001</string>
<key>商洛</key>
<string>101110601</string>
<key>安康</key>
<string>101110701</string>
<key>汉中</key>
<string>101110801</string>
<key>宝鸡</key>
<string>101110901</string>
<key>咸阳</key>
<string>101110200</string>
<key>渭南</key>
<string>101110501</string>
<key>太原</key>
<string>101100101</string>
<key>临汾</key>
<string>101100701</string>
<key>运城</key>
<string>101100801</string>
<key>朔州</key>
<string>101100901</string>
<key>忻州</key>
<string>101101001</string>
<key>长治</key>
<string>101100501</string>
<key>大同</key>
<string>101100201</string>
<key>阳泉</key>
<string>101100301</string>
<key>晋中</key>
<string>101100401</string>
<key>晋城</key>
<string>101100601</string>
<key>吕梁</key>
<string>101101100</string>
<key>乌鲁木齐</key>
<string>101130101</string>
<key>石河子</key>
<string>101130301</string>
<key>昌吉</key>
<string>101130401</string>
<key>吐鲁番</key>
<string>101130501</string>
<key>库尔勒</key>
<string>101130601</string>
<key>阿拉尔</key>
<string>101130701</string>
<key>阿克苏</key>
<string>101130801</string>
<key>喀什</key>
<string>101130901</string>
<key>伊宁</key>
<string>101131001</string>
<key>塔城</key>
<string>101131101</string>
<key>哈密</key>
<string>101131201</string>
<key>和田</key>
<string>101131301</string>
<key>阿勒泰</key>
<string>101131401</string>
<key>阿图什</key>
<string>101131501</string>
<key>博乐</key>
<string>101131601</string>
<key>克拉玛依</key>
<string>101130201</string>
<key>拉萨</key>
<string>101140101</string>
<key>山南</key>
<string>101140301</string>
<key>阿里</key>
<string>101140701</string>
<key>昌都</key>
<string>101140501</string>
<key>那曲</key>
<string>101140601</string>
<key>日喀则</key>
<string>101140201</string>
<key>林芝</key>
<string>101140401</string>
<key>台北县</key>
<string>101340101</string>
<key>高雄</key>
<string>101340201</string>
<key>台中</key>
<string>101340401</string>
<key>海口</key>
<string>101310101</string>
<key>三亚</key>
<string>101310201</string>
<key>东方</key>
<string>101310202</string>
<key>临高</key>
<string>101310203</string>
<key>澄迈</key>
<string>101310204</string>
<key>儋州</key>
<string>101310205</string>
<key>昌江</key>
<string>101310206</string>
<key>白沙</key>
<string>101310207</string>
<key>琼中</key>
<string>101310208</string>
<key>定安</key>
<string>101310209</string>
<key>屯昌</key>
<string>101310210</string>
<key>琼海</key>
<string>101310211</string>
<key>文昌</key>
<string>101310212</string>
<key>保亭</key>
<string>101310214</string>
<key>万宁</key>
<string>101310215</string>
<key>陵水</key>
<string>101310216</string>
<key>西沙</key>
<string>101310217</string>
<key>南沙岛</key>
<string>101310220</string>
<key>乐东</key>
<string>101310221</string>
<key>五指山</key>
<string>101310222</string>
<key>琼山</key>
<string>101310102</string>
<key>长沙</key>
<string>101250101</string>
<key>株洲</key>
<string>101250301</string>
<key>衡阳</key>
<string>101250401</string>
<key>郴州</key>
<string>101250501</string>
<key>常德</key>
<string>101250601</string>
<key>益阳</key>
<string>101250700</string>
<key>娄底</key>
<string>101250801</string>
<key>邵阳</key>
<string>101250901</string>
<key>岳阳</key>
<string>101251001</string>
<key>张家界</key>
<string>101251101</string>
<key>怀化</key>
<string>101251201</string>
<key>黔阳</key>
<string>101251301</string>
<key>永州</key>
<string>101251401</string>
<key>吉首</key>
<string>101251501</string>
<key>湘潭</key>
<string>101250201</string>
<key>南京</key>
<string>101190101</string>
<key>镇江</key>
<string>101190301</string>
<key>苏州</key>
<string>101190401</string>
<key>南通</key>
<string>101190501</string>
<key>扬州</key>
<string>101190601</string>
<key>宿迁</key>
<string>101191301</string>
<key>徐州</key>
<string>101190801</string>
<key>淮安</key>
<string>101190901</string>
<key>连云港</key>
<string>101191001</string>
<key>常州</key>
<string>101191101</string>
<key>泰州</key>
<string>101191201</string>
<key>无锡</key>
<string>101190201</string>
<key>盐城</key>
<string>101190701</string>
<key>哈尔滨</key>
<string>101050101</string>
<key>牡丹江</key>
<string>101050301</string>
<key>佳木斯</key>
<string>101050401</string>
<key>绥化</key>
<string>101050501</string>
<key>黑河</key>
<string>101050601</string>
<key>双鸭山</key>
<string>101051301</string>
<key>伊春</key>
<string>101050801</string>
<key>大庆</key>
<string>101050901</string>
<key>七台河</key>
<string>101051002</string>
<key>鸡西</key>
<string>101051101</string>
<key>鹤岗</key>
<string>101051201</string>
<key>齐齐哈尔</key>
<string>101050201</string>
<key>大兴安岭</key>
<string>101050701</string>
<key>长春</key>
<string>101060101</string>
<key>延吉</key>
<string>101060301</string>
<key>四平</key>
<string>101060401</string>
<key>白山</key>
<string>101060901</string>
<key>白城</key>
<string>101060601</string>
<key>辽源</key>
<string>101060701</string>
<key>松原</key>
<string>101060801</string>
<key>吉林</key>
<string>101060201</string>
<key>通化</key>
<string>101060501</string>
<key>沈阳</key>
<string>101070101</string>
<key>鞍山</key>
<string>101070301</string>
<key>抚顺</key>
<string>101070401</string>
<key>本溪</key>
<string>101070501</string>
<key>丹东</key>
<string>101070601</string>
<key>葫芦岛</key>
<string>101071401</string>
<key>营口</key>
<string>101070801</string>
<key>阜新</key>
<string>101070901</string>
<key>辽阳</key>
<string>101071001</string>
<key>铁岭</key>
<string>101071101</string>
<key>朝阳</key>
<string>101071201</string>
<key>盘锦</key>
<string>101071301</string>
<key>大连</key>
<string>101070201</string>
<key>锦州</key>
<string>101070701</string>
</dict>
</plist>
